<div class="row">
<div class="col-xs-12">
{{#default-box title=title}}
<table class="table table-bordered table-hover" role="grid">
  <thead>
    <tr role="row">
      <th>Id</th>
      <th>Cours</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |record|}}
      {{#unless record.isNew}}
      <tr role="row" class="odd">
        <td class="sorting_1">
          {{record.id}}
        </td>
          <td>
            {{record.course.name}}
          </td>
          <td>
            {{record.email}}
          </td>
        <td>
          {{#link-to 'admin.subscription' record.id class="btn btn-primary"}}
            <span class="glyphicon glyphicon-eye-open"/>
          {{/link-to}}
          {{#link-to 'admin.subscriptions.edit' record.id class="btn btn-success"}}
            <span class="glyphicon glyphicon-pencil"/>
          {{/link-to}}
          <a href="#" {{action "delete" record preventDefault=true}}
            class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"/>
          </a>
        </td>
      </tr>
      {{/unless}}
    {{/each}}
  </tbody>
</table>
{{/default-box}}
</div>
</div>
{{#link-to 'admin.subscriptions.new' class="btn btn-success"}}
  <span class="glyphicon glyphicon-plus"/> Ajouter une inscription
{{/link-to}}
{{outlet}}
