{{#em-form model=model submitButton=false}}
  <div class="row">
    <div class='col-md-12'>
      {{em-input label="Prénom" property="firstName"}}
      {{em-input label="Nom" property="lastName"}}
      {{em-input label="Téléphone" property="phone"}}
      {{em-input label="Adresse email" property="email"}}
      {{em-select label="Cours" property="course" content=courses prompt=" " propertyIsModel=true optionLabelPath="name"}}
      {{em-text label="Commentaires" property="comments"}}
    </div>
  </div>
  <table class="table table-bordered table-hover" role="grid">
    <thead>
      <tr role="row">
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Commentaires</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.contacts as |contact i|}}
        {{#unless contact._destroy}}
          <tr>
            <td>
              {{input class="form-control" value=contact.fullname}}
            </td>
            <td>
              {{input class="form-control" value=contact.email}}
            </td>
            <td>
              {{input class="form-control" value=contact.phone}}
            </td>
            <td>
              {{textarea class="form-control" value=contact.comments}}
            </td>
            <td>
              <a href="#" {{action 'removeContact' contact}}>Supprimer</a>
            </td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
  <a href="#" {{action 'addContact' }}>Ajouter un contact</a>
  <br/>
  <br/>
  {{yield}}
{{/em-form}}
