<h1>
  {{model.name}}
</h1>
{{#default-box title="Subscription"}}
<table class="table table-bordered table-hover" role="grid">
  <thead>
    <tr role="row">
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.subscriptions as |subscription|}}
      <tr role="row" class="odd">
        <td class="sorting_1">
          {{subscription.id}}
        </td>
        <td>
          {{#link-to 'admin.subscriptions.edit' subscription}}
            {{subscription.firstName}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'admin.subscriptions.edit' subscription}}
            {{subscription.lastName}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'admin.subscriptions.edit' subscription}}
            {{subscription.email}}
          {{/link-to}}
        </td>
        <td>
          {{subscription.paid}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Paid</th>
    </tr>
  </tfoot>
</table>
{{/default-box}}
