<h1>
  {{model.name}}
</h1>
{{#default-box title="Inscription"}}
<table class="table table-bordered table-hover" role="grid">
  <thead>
    <tr role="row">
      <th>Id</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.subscriptions as |subscription|}}
      <tr role="row" class="odd">
        <td class="sorting_1">
          {{subscription.id}}
        </td>
        <td>
          {{#link-to 'admin.subscriptions.edit' subscription}}
            {{subscription.firstName}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'admin.subscriptions.edit' subscription}}
            {{subscription.lastName}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'admin.subscriptions.edit' subscription}}
            {{subscription.email}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/default-box}}
