{{#default-box title=model.fullname}}
  <div class="form-group">
    <label class="control-label">Nom</label>
    <div>{{model.fullname}}</div>
  </div>
  <div class="form-group">
    <label class="control-label">Email</label>
    <div>{{model.email}}</div>
  </div>
  <div class="form-group">
    <label class="control-label">Téléphone</label>
    <div>{{model.phone}}</div>
  </div>
  <div class="form-group">
    <label class="control-label">Commentaires</label>
    <div>{{model.comments}}</div>
  </div>
{{/default-box}}
{{#default-box title='Contacts'}}
  <table class="table table-bordered table-hover" role="grid">
    <thead>
      <tr role="row">
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Commentaires</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.contacts as |contact i|}}
        <tr>
          <td>
            {{contact.fullname}}
          </td>
          <td>
            {{contact.email}}
          </td>
          <td>
            {{contact.phone}}
          </td>
          <td>
            {{contact.comments}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/default-box}}
