{{#default-box title=model.email}}
<table class="table table-bordered table-hover" role="grid">
  <thead>
    <tr role="row">
      <th>Id</th>
      <th>Course</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.subscriptions as |subscription|}}
      <tr role="row" class="odd">
        <td class="sorting_1">
          {{subscription.id}}
        </td>
        <td>
          {{#link-to 'admin.course' subscription.course}}
            {{subscription.course.name}}
          {{/link-to}}
        </td>
        <td>
          {{subscription.paid}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>Id</th>
      <th>Course</th>
      <th>Paid</th>
    </tr>
  </tfoot>
</table>
{{/default-box}}
{{#default-box title="Contacts"}}
<table class="table table-bordered table-hover" role="grid">
  <thead>
    <tr role="row">
      <th>Id</th>
      <th>Fullname</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.contacts as |contact|}}
      <tr role="row" class="odd">
        <td class="sorting_1">
          {{contact.id}}
        </td>
        <td>
          {{contact.fullname}}
        </td>
        <td>
          {{contact.phone}}
        </td>
        <td>
          {{contact.email}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>Id</th>
      <th>Fullname</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </tfoot>
</table>
{{/default-box}}
